.home {
  display: flex;
  flex-direction: row;
}

.home__nav {
  flex: 0.2;
  background-color: black;
}

.home_timeline {
  flex: 0.7;
}

/* .home_suggestions{
  flex: 0.1;
  justify-content: end;
} */

@media (max-width: 550px) {
  .home__nav {
    display: none;
  }
}

@media (max-width: 1024px) {
  .home__nav {
    display: none;
  }
}
