.post {
  width: 500px;
  margin: 30px 35px 50px 40px;
}

.post__header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.post__headerAuthor {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bolder;
}

.post__headerAuthor > span {
  color: grey;
  font-size: 15px;
  padding: 2px;
}

.post__headerAuthor  .avatar {
    padding-left: 2px;
  }

.post__content > img {
  width: 100%;
  border:2px solid rgba(128, 128, 128, 0.516);
  border-radius: 6px;

}


.post__footerIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.postIcon{
  padding: 3px;
}

.postIcon:hover {
  cursor: pointer;
}




    
@media (max-width: 600px) {
    .post {
        margin: auto;
        margin-top: 30px;
        margin-bottom: 45px;
        margin-left: 17px;
        width: 520px;
    }
    }

    @media (max-width: 800px) {
      .post {
        margin-right: 9px;
 
    }
    
    }


  
    @media (max-width: 1000px) {
      .post {
        margin-right: 25px;
        margin-top: 30px;
        margin-bottom: 45px;
        width: 600px;
    }
    
    }


    
  
  
  
  